body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 1em;
  max-height: 100vh;
  background-color: #222;
  display: flex;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.button {
  display: flex;
  width: fit-content;
  padding: 0.5em;
  border-radius: 4px;
  font-weight: bold;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  min-width: 2em;
}

.roundButton {
  background: transparent;
  border-radius: 100px;
  font-size: 0.9em;
  padding: 0.2em 0.8em;
  margin-right: 0.5em;
  margin-bottom: 0.4em;
}

#gunSmith {
  overflow: hidden;
  display: grid;
}
.gunSmithRow {
  display: flex;
  overflow: hidden;
  width: 100%;
  margin-bottom: 0.8em;
}

.scrollRow {
  overflow-x: scroll;
  display: flex;
}
.wrapRow {
  display: flex;
  flex-wrap: wrap;
}

.statusBarInner {
  height: 1em;
  transition: width 0.25s linear;
}
.statusBarFieldSet {
  border-style: solid;
  padding: 1px;
  border-bottom-left-radius: 10em;
  border-top-right-radius: 10em;
  overflow: hidden;
  background: #00dffc50;
  margin-bottom: 1em;
  transition: filter 0.25s linear;
}
.input {
  display: flex;
  width: 2em;
  padding: 0.5em;
  border-radius: 4px;
  margin: 0.5em 0px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  font-size: 16px;
  background-color: transparent;
}

.color-picker {
  border-bottom-left-radius: 10em;
  border-top-right-radius: 10em;
  width: 100%;
  padding: 0;
  background: transparent;
  overflow: hidden;
}

.nav {
  width: 100%;
  margin-bottom: 1em;
}
.navLabel {
  font-size: 0.6em;
  margin-top: 0.5em;
}

.section {
  margin-bottom: 1em;
}

.legend {
  color: #fff;
  font-size: 1.25em;
}

.delete-gun {
  margin-left: 1em;
}

.gunRowWrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5em;
}
.gunRow {
  width: 100%;
}

.gunRow .column {
  width: 30%;
}
/* Some flex stuff */

.row {
  display: flex;
  flex-direction: row;
}
.between {
  justify-content: space-between;
}
.center {
  justify-content: center;
}
.around {
  justify-content: space-around;
}

.column {
  display: flex;
  flex-direction: column;
}
.column.center {
  align-items: center;
}
.textBorder {
  text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000,
    -1px -1px 0 #000, 0px 1px 0 #000, 0px -1px 0 #000, -1px 0px 0 #000,
    1px 0px 0 #000, 2px 2px 0 #000, -2px 2px 0 #000, 2px -2px 0 #000,
    -2px -2px 0 #000, 0px 2px 0 #000, 0px -2px 0 #000, -2px 0px 0 #000,
    2px 0px 0 #000, 1px 2px 0 #000, -1px 2px 0 #000, 1px -2px 0 #000,
    -1px -2px 0 #000, 2px 1px 0 #000, -2px 1px 0 #000, 2px -1px 0 #000,
    -2px -1px 0 #000;
}

.gunTableLabel {
  margin-bottom: 1em;
  padding-bottom: 0.5em;
  margin-top: 1em;
}
/* Animations */
@keyframes popOff {
  0% {
    transform: translateX(-1em) translateY(-1em);
    font-size: 1em;
  }
  10% {
    transform: translateX(-1em) translateY(-1em);
    font-size: 2em;
    color: #ffe500;
  }
  20% {
    transform: translateX(-2em) translateY(-1.5em);
    font-size: 4em;
    text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000,
      -1px -1px 0 #000, 0px 1px 0 #000, 0px -1px 0 #000, -1px 0px 0 #000,
      1px 0px 0 #000, 2px 2px 0 #000, -2px 2px 0 #000, 2px -2px 0 #000,
      -2px -2px 0 #000, 0px 2px 0 #000, 0px -2px 0 #000, -2px 0px 0 #000,
      2px 0px 0 #000, 1px 2px 0 #000, -1px 2px 0 #000, 1px -2px 0 #000,
      -1px -2px 0 #000, 2px 1px 0 #000, -2px 1px 0 #000, 2px -1px 0 #000,
      -2px -1px 0 #000;
    color: #ffe500;
  }
  30% {
    transform: translateX(-3em) translateY(-1em);
    font-size: 2em;
    color: #ffe500;
  }
  60% {
    transform: translateX(-4em) translateY(50vh);
    font-size: 1.25em;
  }
  100% {
    transform: translateX(-4.5em) translateY(100vh);
    font-size: 1em;
  }
}

.popOff {
  animation: popOff 0.5s 1 0s ease-out;
}

@media screen and (max-width: 800px) {
  #root {
    width: 100%;
  }
}
@media screen and (min-width: 801px) {
  #root {
    width: 800px;
  }
}
